{% extends "base.html" %}
<link href="style.css" rel="stylesheet" type="text/css"/>
{% block content %}
    <center><div class="box"><form action="", method="POST", novalidate>
        {{ form.hidden_tag() }}
        <p>
         {{ form.username.label }}
         {{ form.username(size=32,class='myclass') }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
         {{ form.password.label }}
         {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{ form.remember_me() }} {{ form.remember_me.label }}
            <p> {{ form.submit() }}</p>
    </form></div></center>

<style>
    body{
    background-color: lightblue;
    }

    .box{
    background-color:grey;
    width:30%;
    item-align:center;
    padding:2px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:40%;
    right:70%;
    }

    .myClass{
    background-color: transparent;
    border-bottom: 14px  grey;
    }
</style>
{% endblock %}